<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta  content='text/html;charset="utf-8' http-equiv='Content-Type'>
    <title></title>
  </head>
  <body>
    <h1>Salut <%= @user.name %> et bienvenue chez nous !</h1>
    <p>Tu es inscrit sur monsite.fr en utilisant l'e-mail suivant : <%= @user.email %></p>
    <p>Pour acceder à ton espace clien, connecte-toi sur : <%= @url %></p>
    <p>A très vite sur monsite.fr</p>
  </body>
</html>
